.main-container {
    display: flex;
}

#name {
    margin: 0;
    padding: 5px;
}

#usertweet {
    margin: 0;
    padding-right: 10px;
}

#tweetdate {
    margin: 0;
    padding: 0 10px;
    opacity: 0.5;
}

.usertweet {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 5px;
}

.usertweet-date {
    padding-left: 280px;
}

#tweetimage {
    width: 20px;
    height: 20px;
    padding-right: 5px;
}

#userimage {
    width: 50px;
    height: 50px;
    padding: 5px;
}

.disp-user-info {
    padding-left: calc(1%);
    width: calc(25%);
}

.disp-user {
    display: flex;
}

.disp-tweet {
    width: calc(40%);
}

.disp-ff {
    width: auto;
}