<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            defer
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='home.css') }}"
        />
        <title>Home</title>
    </head>
    <body>
        <div class="main-container">
            <div class="disp-user-info">
                <div class="disp-user">
                    {% for user in users %} {% if user.username ==
                    session.username %}
                    <img
                        src="data:image/jpg;base64,{{ user.userimage }}"
                        id="userimage"
                    />
                    {% endif %} {% endfor %}
                    <h1 id="name">{{ session.username }}</h1>
                </div>
                <br />
                <div class="disp-newtweet">
                    <form action="/tweet" method="post">
                        <label for="tweet">Tweet:</label>
                        <input type="text" id="tweet" name="tweet" required />
                        <input type="submit" value="Tweet" />
                    </form>
                </div>
                <br />
                <form action="/logout" method="post">
                    <input type="submit" value="Logout" />
                </form>
                <!-- <a href="/logout">Logout</a> -->
                {% with messages = get_flashed_messages() %} {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li style="color: red">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %} {% endwith %}
            </div>
            <div class="disp-tweet">
                <h2>Recent Tweets</h2>
                {% for tweet in tweets %} {% for user in users %} {% if
                user.username == tweet.username %}
                <div class="usertweet">
                    <img
                        src="data:image/jpg;base64,{{ user.userimage }}"
                        id="tweetimage"
                    />
                    <p id="usertweet">{{ tweet.username }}: {{ tweet.text }}</p>
                    <br />
                    {% if user.username == session.username %}
                    <a href="{{ url_for('delete_tweet', tweet_id=tweet.id) }}"
                        >･･･</a
                    >
                    {% endif %}
                </div>
                <div class="usertweet-date">
                    <p id="tweetdate">
                        {{tweet.created_at.strftime("%Y/%m/%d %H:%M")}}
                    </p>
                </div>
                {% endif %} {% endfor %} {% endfor %}
            </div>
            <div class="disp-ff">
                <h2>Following</h2>
                <ul>
                    {% for following in following_list %}
                    <li>{{ following }}</li>
                    {% endfor %}
                </ul>
                <p>Folloing User: {{ following_list | length }}</p>

                <h2>Followers</h2>
                <ul>
                    {% for follower in follower_list %}
                    <li>{{ follower }}</li>
                    {% endfor %}
                </ul>
                <p>Follower: {{ follower_list | length }}</p>

                <h3>New Follow</h3>
                <form action="/follow" method="post">
                    <label for="following">Follow:</label>
                    <input
                        type="text"
                        id="following"
                        name="following"
                        required
                    />
                    <input type="submit" value="Follow" />
                </form>

                <h3>Delete Follow</h3>
                <form action="/unfollow" method="post">
                    <label for="unfollowing">Unfollow:</label>
                    <input
                        type="text"
                        id="unfollowing"
                        name="unfollowing"
                        required
                    />
                    <input type="submit" value="Unfollow" />
                </form>
            </div>
        </div>
    </body>
</html>
