{%- extends "components/base.html" %} {%- block content %}
<div class="p-0 md:px-24">
    <div class="grid grid-cols-1 gap-4 lg:gap-4 lg:grid-cols-1">
        {% for tweet in tweets %} {% for user in users %} {% if user.username == tweet.username %}
        <div class="bg-gray-100 p-4 rounded-md shadow sm:flex lg:items-start group">
            <div class="flex-shrink-0 mb-4 sm:mb-0 sm:mr-4">
                <img class="h-12 w-12" src="data:image/jpg;base64,{{ user.userimage }}" />
            </div>
            <div>
                <span class="text-sm text-gray-500"
                    >{{tweet.created_at.strftime("%I:%M %p, %B %d, %Y")}}</span
                >
                <p class="mt-3 text-lg font-medium leading-6">
                    <a href="./blog-post.html" class="text-xl text-gray-800 hover:text-gray-500"
                        >{{ tweet.title }}
                    </a>
                </p>
                <p class="mt-2 text leading-normal text-gray-500">{{ tweet.text }}</p>
            </div>
        </div>
        {% endif %} {% endfor %} {% endfor %}
    </div>
</div>
{%- endblock %}
