<form action="{{ method }}" method="POST" class="space-y-6">
    <div>
        <label for="username" class="block text-sm font-medium text-neutral-600"> User Name </label>
        <div class="mt-1">
            <input
                id="username"
                name="username"
                type="username"
                autocomplete="username"
                required=""
                placeholder="User Name"
                class="block w-full px-5 py-3 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300"
            />
        </div>
    </div>

    <div class="space-y-1">
        <label for="password" class="block text-sm font-medium text-neutral-600"> Password </label>
        <div class="mt-1">
            <input
                id="password"
                name="password"
                type="password"
                autocomplete="current-password"
                required=""
                placeholder="Your Password"
                class="block w-full px-5 py-3 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300"
            />
        </div>
    </div>

    <div class="flex items-center justify-between">
        <div class="flex items-center">
            <input
                id="remember-me"
                name="remember-me"
                type="checkbox"
                placeholder="Your password"
                class="w-4 h-4 text-blue-600 border-gray-200 rounded focus:ring-blue-500"
            />
            <label for="remember-me" class="block ml-2 text-sm text-neutral-600">
                Remember me
            </label>
        </div>

        <div class="text-sm">
            <a href="{{ other_method }}" class="font-medium text-blue-600 hover:text-blue-500">
                {{ announce }} an Account?
            </a>
        </div>
    </div>

    <div>
        <button
            type="submit"
            class="flex items-center justify-center w-full px-10 py-4 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-blue-600 rounded-xl hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
        >
            Sign {{ preposition }}
        </button>
    </div>
</form>
