<div>
    <label for="email" class="block text-sm font-medium text-neutral-600"> User Name </label>
    <div class="mt-1">
        <input
            id="username"
            name="username"
            type="username"
            autocomplete="username"
            required=""
            placeholder="User Name"
            class="block w-full px-5 py-3 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300"
        />
    </div>
</div>

<div class="space-y-1">
    <label for="password" class="block text-sm font-medium text-neutral-600"> Password </label>
    <div class="mt-1">
        <input
            id="password"
            name="password"
            type="password"
            autocomplete="current-password"
            required=""
            placeholder="Your Password"
            class="block w-full px-5 py-3 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300"
        />
    </div>
</div>
